<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CourseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseApp">
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.CourseApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CourseApp" />
        <activity
            android:name="com.courseapp.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.CourseApp" />
        <activity
            android:name="com.courseapp.login.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.CourseApp" />
    </application>
</manifest>
